@font-face {
    font-family: 'firstFont';
    src: url(/Exam-Commercial-Website/Inter/static/Inter_18pt-Regular.ttf);
}

html{
    font-family: 'firstFont', 'Gill Sans MT', Calibri;
}

h1, h2, h3, h4{
    font-weight: lighter;
}

.content-one, .content-two{
    padding-left: 110px;
    padding: 80px;
}  

.content-two{
    text-align: center;
    background-color: #fffcf6;
}

.api-grid{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 40px;
    grid-template-rows: repeat(1,0fr);  
    padding-left: 248px;
    padding-right: 248px;
    padding-bottom: 50px;
}

.content-two h3{
    
    color: #173387;
}

.api-grid-one, .api-grid-two, .api-grid-three{
    text-align: center;
    margin-top: 50px;
    height: 100px;
    width: 270px;
    background-color: rgb(214, 232, 232);
    border-radius: 7px;
    padding: 20px; 
    padding-bottom: 50px;
}