/*Navigation*/
header nav{
    background-color: #edece8;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
}

nav img {
    padding-left: 75px;
    width: 130px;
}

nav{
    padding-top: 20px;
}

.dropdown{
    display: inline-flex;
    position: relative;
    padding-left: 65px;
}

.dropdown button{
    width: 100px;
    border: none;
    background-color: #edece8;
    color: #178fd6;
}

.dropdown:hover button{
    cursor: pointer;
}

.dropdown:hover .nav-content{
    display: block;   
}

.nav-content{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #edece8;
    padding: 10px;

}

.nav-content button{
    height: 70px;
    font-size: 14px;
}

.nav-content button:hover{
    color:#173387;
    cursor: pointer;
}

#hm-nav-btn{
    border: none;
    background-color: #edece8;
}

#hm-nav-btn:hover{
    cursor: pointer;
}

/*Scroll*/

.scroll{
    cursor: pointer;
    right: -1500px;
}

.scroll-img{
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
   
}


/*Main for webpages: design, theory, about the API, data viz*/

.grid-display{
    background-color: #ccdde8;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;

    gap: 20px;
    grid-template-rows: repeat(2, 0fr);
    align-items: center;
}


.h1-all, .p-1{
    padding-left: 110px;
    grid-row: 1;
}

.p-1{
    width: 500px;
    grid-row: 2;
}




/*Table of contents*/

.table-of-contents{
    text-align: left;
    padding-left: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.table-of-contents a{
    color: #173387;
}

/*Footer for all webpages*/

footer{
    background-color: #173387;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 40px;
}

.one{
    grid-row: 1;
    grid-column: 1;
    padding-left: 50px;
    padding-top: 40px;
}

.two{
    grid-row: 1;
    grid-column: 2;
    padding-left: 30px;
    padding-top: 40px;
}

.three{
    grid-row: 1;
    grid-column: 3;
    padding-left: 30px;
    padding-top: 40px;
}

.four{
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

a{
    color: #edece8;
}