.currency-dropdown{
margin-top: 20px;
margin-bottom: 20px;
margin-left: 500px;
}

.tooltip{
    margin-top: 30px;
    margin-left: 950px;
    background-color: rgba(62, 56, 56, 0.704);
    color: white;
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
}