@font-face {
    font-family: 'firstFont';
    src: url(/Exam-Commercial-Website/Inter/static/Inter_18pt-Regular.ttf);
}

html{
    font-family: 'firstFont', 'Gill Sans MT', Calibri;
}

h1, h2, h3{
    font-weight: lighter;
}

.content-one, .content-two{
    padding-left: 110px;
    padding: 80px;
}  

a{
    color: #173387;
}




