@font-face {
    font-family: 'firstFont';
    src: url(/Exam-Commercial-Website/Inter/static/Inter_18pt-Regular.ttf);
}

html{
    font-family: 'firstFont', 'Gill Sans MT', Calibri;
}

h1, h2, h3{
    font-weight: lighter;
}

.p-title{
    padding-left: 150px;
}

.wireframe-container{
    padding-left: 150px;
}
.dynamic-img{
    height: 513px;
    width: 716px;
    border: #001b2e 1px solid;
 }

.arrow-btn-img{
    height: 20px;
    width: 20px;
   
}

.arrow-btn-img-left{
    height: 20px;
    width: 20px;
    transform: rotate(-180deg);
    
}

.arrow-btn{
    border: none;
    background-color: white;
}

.arrow-section{
    margin-left: 530px;
}

.content-one, .content-two{
    padding-left: 110px;
    padding: 80px;
}  

a{
    color: #173387;
}

.style-guide-title{
    color: #173387;
}

@media screen and (min-width: 400px) and (max-width:1000px){
    .dynamic-img{
        height: 250px;
        width:300px;
     }
    }
