@font-face {
    font-family: 'firstFont';
    src: url(/Exam-Commercial-Website/Inter/static/Inter_18pt-Regular.ttf);
}

html{
    font-family: 'firstFont', 'Gill Sans MT', Calibri;
}

h1, h2, h3, h4{
    font-weight: lighter;
}

h1{
    color: #173387;
    padding-bottom: 20px;
}

.main-one{
    background-color: #fffcf6;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.main-two{
    background-color: #ccdde8;
    padding-top: 10px;
}

.main-two-para{
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-size: 19px;
}

.main-two-display{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    gap: 40px;
    grid-template-rows: repeat(1,0fr);  
    padding-left: 248px;
    padding-right: 248px;
    padding-bottom: 50px;
}

.main-two-display img{
    width: 250px;
    height: 180px;
}

.main-two-display p{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.main-two-display button{
    width: 170px;
    height: 35px;
    background-color: #178fd6;
    color: #edece8;
    border-radius: 3px;
    border: #178fd6;
}

.main-two-display button:hover{
    background-color: #edece8;
    color: #178fd6;
}


.main-two-block1, .main-two-block2, .main-two-block3 {
    text-align: center;
    margin-top: 50px;
    height: 450px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 20px; 

}

.main-three{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.main-three img{
    padding-top: 75px;
    height: 450px;
    width: 676px;
    padding-bottom: 75px;
}

.main-three h2{
    color: #173387;
}

.main-four{
    padding-left: 402px;
    padding-right: 402px;
}

.main-four h3{
    color: #173387;
    text-align: center;
}

.main-four-block1 , .main-four-block2, .main-four-block3 {
    margin-top: 40px;
    padding: 20px; 
    border-radius: 10px;
}

.main-four-block1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-four-block2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.main-four-block3{
    background-color: #ccdde8;
    text-align: center;
    
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #ccdde8;
    border-radius: 5px;
  
}


.main-four-block1-icon{
    width: 346px;
    height: 225px;
}

.main-four-block2-icon{
    width: 155px;
    height: 220px;
}

.main-four button{
    border: none;
    background-color: #ccdde8;
    color: #3b4144;
}

.main-four button:hover{
    color: #178fd6;
}